{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(commentForm) }}
    {{ form_row(commentForm.name) }}
    {{ form_row(commentForm.content) }}
    <button type="submit" class="btn btn-secondary">Submit</button>
    {{ form_end(commentForm) }}
{% endblock %}