{% extends 'base.html.twig' %}

{% block body %}
    <h2>Création d'une catégorie</h2>
    {{ form_start(categoryForm) }}
    {{ form_row(categoryForm) }}
    <button type="submit" class="btn btn-secondary">Submit</button>
    {{ form_end(categoryForm) }}
{% endblock %}